/* General settings */
html{
    height: 100%;
}
body{
    margin: 0;
    background-color: white;
    height: calc( 100% - 34px );
    font-family: calibri;
}
h2
{
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 20px;
}

/*header, always visible*/
.header{
    width: 100%;
    background-color: #aed9e0;
    padding: 10px;
    top: 0;
    left: 0;    
}
.header p{
    margin: 0;
    padding: 8px;
    text-align: left;
    font-size: 24pt;
    width: 95%;
}

/*login part*/
#login{
    padding: 0;
    height: max-content;
}
#login h1{
    margin-top: 200px;
    text-align: center;
}
#login h4{
    margin-top: 5px;
    text-align: center;
}
#login .login-input{
    text-align: center;
}
#login input{
    width: 10%;
    margin-bottom: 15px;
}

/*aside part*/
aside{
    float: left;
    display: block;
    width: 15%;
    height: 100%;
    background-color: #CED4DA;
}
aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    
}
aside input{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    
}

/*general admin main*/
.adminMain{
    float: right;
    width: 85%;
}
.userMain{
    float: right;
    width: 85%;
}

/*choose game part*/
#chooseGame h2{
    text-align: center;
    margin-top: 150px;
}

/*add achi part*/
#addAchiUL{
    margin-top: 150px;
    list-style: none;
}
#addAchiMain{
    text-align: center;
    margin-top: 120px;
}
#newAchiBTN{
    width: 200px;
}
#addAchiUL .numIN{
    width: 100px;
}
#addAchiUL textarea{
    width: 200px;
    height: 80px;
}

/*choose player part*/
#chooseTester .true{
    background-color: crimson;
}
#chooseTester h2{
    text-align: center;
    margin-top: 100px;
}

/*chosen player part*/
#choosenLeft{
    float: left;
    margin-top: 50px;
    margin-left: 75px;
    width: calc(65% - 75px);
}
#choosenRight{
    float: right;
    width: 35%;
}
#choosenRight input{
    display: inline-block;
    text-align: center;
    width: 220px;
    margin-top: 20px;
    
}
#choosenLeft p{
    margin-top: 5px;
    margin-bottom: 0;
}

/*new User or Admin*/
#newUser ul{
    display: inline;
    margin: 0;
    margin-left: calc( (100% - 300px) / 2 );
    padding: 0;
}
#newUser li{
    display: inline;
    width: 100%;
}
#newUser input{
    width: 200px;
    padding: 15px;
}
#newUser h2{
    text-align: center;
    width: 100%;
    margin-top: 300px;
    margin-left: 32px;
}

/*new game*/
#newGame ul{
    margin-left: calc( (100% - 400px) / 2 );
    margin-top: 50px;
    list-style-type: none;
    padding: 2px;
    width: 400px;
}
#newGame li{
    text-align: center;
    padding: 12px;
}
#newGame h2{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
#newGame label{    
    width: 50px; 
}

/* add achievement */
#achievementsAdd ul{
    margin-left: calc( (100% - 400px) / 2 );
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    width: 400px;
}
#achievementsAdd li{
    text-align: center;
    padding: 2px;
}
.achievementsAdd{
    display: none; 
}
.progressAdd{
    display: none; 
}

/* Charts */
#adminChartsMain{
    height: 95%;
}
#charts{
    height: 100%;
    margin-left: 15%;
}
#charts h2{
    text-align: center;
    width: 100%;
    padding-top: 50px;
}
#charts table{
    margin-left: auto;
    margin-right: auto;
}

/* Update game */
#updateGame{
    text-align: center;
}
#updateGame ul{
    margin-left: calc( (100% - 400px) / 2 );
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    width: 400px;
}
#updateGame li{
    text-align: center;
    padding: 2px;
}
#updateGame h2{
    text-align: center;
    width: 100%;
    margin-top: 180px;
}
#updateGame label{    
    width: 50px; 
}

/* Table */
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.fl-table {
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #CED4DA;
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}
.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
}
.fl-table thead th {
    color: #ffffff;
    background: #324960;
}
.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}
.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */
@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/* Form-control */
.form-control {
    max-width: 40%;
}
.addNewGameForm {
    margin-left: 35%;
    margin-top: 70px;
}
#newgameBTN {
    width: 40%;
}
.form-select {
    max-width: 30%;
}